<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Search Movie Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search Movie Name</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input label="Movie Name" placeholder="Enter movie name" [(ngModel)]="movieName"></ion-input>
    <ion-button (click)="searchMovie()">Find</ion-button>
  </ion-item>

  <!-- <ion-list  *ngIf="movies">
    <ion-item *ngFor="let movie of movies">
      <ion-card>
        <img [alt]="movie.Title" [src]="movie.Poster" />
        <ion-card-header>
          <ion-card-title>{{ movie.Title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Year : {{ movie.Year }}</p>
          <p>Type : {{ movie.Type }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list> -->
  <ion-list *ngIf="movies">
    <ion-item *ngFor="let movie of movies">
      <ion-card [routerLink]="['/details', movie.imdbID]">
        <div class="card-content">
          <img [alt]="movie.Title" [src]="movie.Poster" />
          <div class="text-content">
            <ion-card-header>
              <ion-card-title>{{ movie.Title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Year: {{ movie.Year }}</p>
              <p>Type: {{ movie.Type }}</p>
            </ion-card-content>
          </div>
        </div>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
